[Desktop Entry]
Encoding=UTF-8
Name=Link to Image associée
Type=Link
URL=https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=2ahUKEwivqJKqx43fAhXMxIUKHcV6BlEQjRx6BAgBEAU&url=%2Furl%3Fsa%3Di%26rct%3Dj%26q%3D%26esrc%3Ds%26source%3Dimages%26cd%3D%26cad%3Drja%26uact%3D8%26ved%3D2ahUKEwivqJKqx43fAhXMxIUKHcV6BlEQjRx6BAgBEAU%26url%3Dhttp%253A%252F%252Fwww.univ-khenchela.dz%252Fmenu%252520gauche%252FCEIL-Centre%252520De%252520L%2525E2%252580%252599enseignement%252520Intensif%252520Des%252520Langues%252FDroits%252520D%27inscription.html%26psig%3DAOvVaw185WVCwcDTUNuAn0UOgM5m%26ust%3D1544266482068462&psig=AOvVaw185WVCwcDTUNuAn0UOgM5m&ust=1544266482068462
Icon=mate-fs-bookmark
